authorName: Peiyuan-Liao
experimentName: automl-tvm
trialConcurrency: 1
maxExecDuration: 10h
maxTrialNum: 50
#choice: local, remote, pai
trainingServicePlatform: local
searchSpacePath: search_space.json
#choice: true, false
useAnnotation: false
tuner:
  #choice: TPE, Random, Anneal, Evolution, BatchTuner
  #SMAC (SMAC should be installed through nnictl)
  builtinTunerName: TPE
  classArgs:
    #choice: maximize, minimize
    optimize_mode: maximize
trial:
  command: python3 train_model_automl.py --use-gpu True
  codeDir: .
  gpuNum: 0